<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MLBB</title>
    <link rel="stylesheet" href="../css/style.css">
</head>
<body>
    <div class="contener">
        <img src="../img/map.jpg" alt="">
        <div class="depan"></div>
    </div>
    
    <h1>
        MOBILEGEN BANG BANG
    </h1>
    <div class="tabel">
        <table>
            <tr>
                <th>ID</th>
                <th>HERO</th>
                <th>ROLE</th>
                <th>SEKIL</th>
                <th>SETING</th>
            </tr>
            
            <tr>
                <td>
                    <%= id />
                </td>
                <td>
                    <%= Hero />
                </td>
                <td>
                    <%= role />
                </td>
                <td>
                    <%= sekil />
                </td>
            </tr>
        </table>

        <div class="seting">
            <a href="<%= />">Edit</a>
            <input type="text" hidden name="id" value="<%= />">
            <input type="submit" value="Delet">
        </div>
    </div>

    <div class="input">
        <h1>ADD HERO</h1>
        <form action="<%= />" method="post">
            <input type="text" name="" placeholder="Input Name">
            <input type="text" name="" placeholder="Input Role">
            <input type="text" name="" placeholder="Name Skil">
            <input type="submit" value=">>">
        </form>
    </div>
</body>
</html>