<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/updeat.css">
    <title>UPDEAT</title>
</head>
<body>
    <div class="edit">
        <img src="css/img/hero.jpg" alt="">
        <div class="depan"></div>
    </div>

    <div class="updeat">
        <h1>EDIT LIST</h1>
        <form action="/edit" method="post">
            <input type="text" hidden name="id" value="<%= hero.data[0].id%>" />
            <input type="text" name="Request" value="<%= hero.data[0].nama %>" />
            <input type="text" name="Role" value="<%= hero.data[0].alamat %>" />
            <input type="submit" value="update" />
        </form>
    </div>
    <div class="kembali">
        <input type="submit" value="<<" />
    </div>
</body>
</html>